* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primaryColor: #007ed9;
}
body {
  min-height: 100vh;
  background-color: #f4f6fa;
  font-family: "Cairo", sans-serif;
}
h1 {
  padding: 10px;
  border-bottom: 1px solid var(--primaryColor);
  background-color: white;
  text-align: center;
  color: var(--primaryColor);
}
.container {
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  margin: 20px auto;
}
input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
  background-color: #f4f6fa;
  padding: 20px;
  margin-bottom: 20px;
  transition: 0.5s;
}
input:focus {
  outline: none;
  border-bottom-color: var(--primaryColor);
}
.row {
  display: flex;
  gap: 20px;
}
button {
  display: block;
  width: 100%;
  border: none;
  background-color: var(--primaryColor);
  padding: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-color: #0071c2;
}
.result {
  text-align: center;
  min-height: 60px;
  padding: 15px;
  background-color: #f4f6fa;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 6px;
  
}
.result span {
  font-weight: bold;
  color: var(--primaryColor);
}